[auth]
redirect_uri = "YOUR-REDIRECT-URI"      # This should match the redirect URI you set in your Azure app registration
cookie_secret = "YOUR-COOKIE-SECRET"    # This should be a random string
client_id = "YOUR-CLIENT-ID"            # This is your Azure app registration client ID
tenant_id = "YOUR-TENANT-ID"            # This is your Azure tenant ID
client_secret = "YOUR-CLIENT-SECRET"    # This is your Azure app registration client secret
server_metadata_url = "YOUR-SERVER-METADATA-URL"        # This should be the OpenID Connect metadata URL for your Azure tenant 
                                                        # e.g., https://login.microsoftonline.com/YOUR-TENANT-ID/v2.0/.well-known/openid-configuration
